body{
    background-color: #c4c2bc;
}

header{
    padding: 0;
    margin: 0;
    background-color: #273245;
}

header img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #273245;
    margin: 0;
    padding: 0;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 0;
}

.navbar a:hover{
    border: 1px solid;
}

.hero-section{
    background-image: url("hero1.jpg");
    background-size: cover;
    height: 350px;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p{
    color: #007185;
}

.box-content h2{
    padding: 0;
    margin: 0;
}

.box1{
    height: 400px;
    width: 23%;
    background-color: #e2e7e6;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.image1,.imag2{
    height: 50%;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 16px;
}

/**footer**/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel1 a{
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    padding: 10px;
}

.copyright,.pages{
    padding: 10px;
}